.login
  .welcome
    .options
      .inputs
        = form_tag sessions_path do

          .email.form_elts
            = label_tag :email
            = text_field_tag :email

          .password.form_elts
            = label_tag :password
            = password_field_tag :password

          .submit.login
            = submit_tag "Log In"
    .svg_trees
      = image_tag "trees/all_trees.jpg"
