#id Dr
.day_edit{data: {id: @day.id, month: @day.month}}
  .date
    = link_to calendar_path(@day.calendar) do
      .backward_arrow
      = @day.month_text
      = @day.day
      = @day.year
  .canvas
    - @day.calendar_notes.each do |tn|
      .draggable_text{data: {identifier: tn.html_identifier}, style: "left: #{tn.x_pos}px; top: #{tn.y_pos}px; width: #{950-tn.x_pos}px;" }
        .text{class: "created_#{tn.html_identifier}"}
          = tn.note      
        %textarea.text{class: "created_#{tn.html_identifier} hidden"}
          = tn.note
