#id
.day_edit{data: {id: @day.id, month: @day.month}}
  .date
    - link_to @day
    - @day.calendar.id
    = link_to @day.calendar do
      .backward_arrow
      = @day.month_text
      = @day.day
      = @day.year
  .stickers_wrapper
    - @stickers.each do |s|
      .draggable_sticker{data: {id: s.id}}
        %img{:src => "#{s.image}"}
  .canvas
    .background
    - @day.calendar_notes.each do |tn|
      .draggable_text{data: {identifier: tn.html_identifier}, style: "left: #{tn.x_pos}px; top: #{tn.y_pos}px; width: #{950-tn.x_pos}px;" }
        .text{class: "created_#{tn.html_identifier}"}
          = tn.note      
        .edit_text.hidden
          = image_tag "info_icon.png"
          %textarea.text{class: "created_#{tn.html_identifier}"}
            = tn.note
    - @day_stickers.each do |ds|
      .draggable_day_sticker{data: {id: ds.id} , style: "left: #{ds.x_pos}px; top: #{ds.y_pos}px; position: absolute;"}       
        = image_tag ds.sticker.try(:image)

